ninja.hungcy.dev {
    root * /srv
    reverse_proxy /api/* web-admin:3000
    file_server

    # Nếu sau này bạn có Web Admin hoặc Web Client (Websocket), 
    # hãy xóa dấu # ở 2 dòng dưới đây để bật reverse proxy:
    # reverse_proxy game-server:14444
}
